Data/**
Miscellaneous/**
Presentation/**
Text Documents/**
.vscode/**
Coding/Figures/**
Coding/Animations
Coding/Notebooks/X**
Coding/Notebooks/Small_test**
Coding/Notebooks/Main**
Coding/Data_Results/**
